---
title: Videos
layout: default
---
<!DOCTYPE html>
<html>
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/img/post-bg-universe.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
<main>
<ul class='videos'>
  {% for video in site.videos reversed %}
  <li>
    <a href='{{ site.baseurl }}{{ video.url }}'>
      <h3>{{ video.title }}</h3>
      <time>{{ video.date | date: '%d %B %Y'}}</time>
      <img src='http://i1.hdslb.com/bfs/archive/a8a95fadfaed1509736a61a727b7b5effa0e21a5.jpg' />
    </a>
  </li>
  {% endfor %}
</ul>

{% if site.livere_uid %}
<!-- livere 评论框 start -->
<div class="comment">
    <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
</div>
<!-- livere 评论框 end -->

<!-- livere 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];
        if (typeof LivereTower === 'function') { return; }
        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;
        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
<!-- livere 公共JS代码 end -->
{% endif %}
</main>


</body>
</html>