---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/img/post-bg-universe.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
<article itemscope itemtype='http://schema.org/VideoObject'>
  <header>
	  <h2 itemprop='name'>{{ page.title }}</h2>
	  <time itemprop='uploadDate' content='{{ page.date }}'>
	    {{ page.date | date: '%d %B %Y'}}
	  </time>
	</header>
	<section class='video-wrapper'>
	 <div class="embed-responsive embed-responsive-16by9">
		<iframe src='https://player.bilibili.com/player.html?aid={{ page.youtube_id }}'
		        itemprop='embedUrl'
		        frameborder='0'
		        allowfullscreen >
		</iframe>
	 </div>	
	</section>
	<section class='description' itemprop='description'>
  	{{ content }}
  </section>
</article>


{% if site.livere_uid %}
<!-- livere 评论框 start -->
<div class="comment">
	<style>
		#taboola-livere { display: none;}
	</style>
    <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
</div>
<!-- livere 评论框 end -->

<!-- livere 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];
        if (typeof LivereTower === 'function') { return; }
        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;
        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
<!-- livere 公共JS代码 end -->
{% endif %}
</main>
